doctype html
html
    head
        //link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link(rel="stylesheet" href="bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="bootstrap/css/customerReg.css")
        title List of Customers
    body
        .header
            .topnav(style="display: flex;align-content: space-between;")
                div
                    a.active(href="#home") Home
                    a(href="#news") News
                    a(href="#contact") Contact
                    a(href="#about") About
                    a(href="salesLogin") Logout
                div(style="margin-left: 450px;")
                    p BODA BODA BANJA

                    

        table.table
            thead.thead-dark
                tr
                    th First Name
                    th Last Name
                    th Contact
                    th Nationality
                    th Date of Birth
                    th NIN
                    th Stage Name
                    th Vehicle
                    th Down Payment
                    
                    
            tbody
                each customer in customers
                    tr
                        td #{customer.firstName}
                        td #{customer.lastName}
                        td #{customer.contact}
                        td #{customer.nationality}
                        td #{customer.dob}
                        td #{customer.nin}
                        td #{customer.stageName}
                        td #{customer.vehicleType}
                        td #{customer.downPayment}
        .footer.fixed-bottom
            span(style="color:#555; font-size: 20px; padding-top: 90px;") Boda Boda Banja &copy2020

                        
                        
